:root {
    --amhs-dark-blue: #2E3F5C;
    --amhs-bright-blue: #0050DB;
    --amhs-blue: #26519c;
    --amhs-light-blue: color-mix(in srgb, var(--amhs-bright-blue), white 70%);
    --amhs-gold: #DB9500;
    --amhs-light-gold: color-mix(in srgb, var(--amhs-gold), white 60%);
    --amhs-brown: #86692D;
    --amhs-white: #F5F5F5;
    --amhs-serif: 'Source Serif 4', 'Times New Roman', serif;
    --amhs-sans-serif: 'Source Sans Pro', 'Arial', sans-serif;
    --amhs-h1-size: clamp(2rem, 4vw + 0.5rem, 3rem); /* 48px */
    --amhs-h2-size: clamp(1.5rem, 3vw + 0.25rem, 2.5rem); /* 40px */
    --amhs-h3-size: clamp(1.25rem, 2.5vw + 0.25rem, 2.125rem); /* 34px */
    --amhs-h4-size: clamp(1.125rem, 2vw + 0.1rem, 1.75rem); /* 26px */
    --amhs-h5-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem); /* 20px */
    --amhs-h6-size: clamp(1rem, 1.125vw + 0.1rem, 1.125rem); /* 18px */
    --amhs-caption-size: clamp(0.75rem, 1vw + 0.05rem, 0.8rem);
    --amhs-row-gap: 6rem;
    --amhs-row-padding: 2rem;
    --amhs-column-gap: 3rem;
    --amhs-column-padding: 2rem;
    --amhs-max-width: 1366px;
    --amhs-content-width: 980px;
    --amhs-border-radius: 10px
}

body {
    min-height: 100vh;
    height: 100%;
    font-size: 16px;
    font-family: var(--amhs-sans-serif);
    color: var(--amhs-dark-blue);
    background-color: var(--amhs-white);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--amhs-serif);
    font-weight: 600;
    color: var(--amhs-dark-blue);
    text-transform: capitalize;
    margin-top: 0;
}

h1 {
    font-size: var(--amhs-h1-size);
}

h2 {
    font-size: var(--amhs-h2-size);
}

h3 {
    font-size: var(--amhs-h3-size);
}

h4 {
    font-size: var(--amhs-h4-size);
    font-style: italic;
}

h5 {
    font-size: var(--amhs-h5-size);
    font-weight: 700;
}

h6 {
    font-size: var(--amhs-h6-size);
    font-weight: 700;
}

a:not(.button) {
    color: var(--amhs-bright-blue);
    text-decoration: none;
}

a:hover:not(.button) {
    color: var(--amhs-gold);
    text-decoration: underline;
}

a:visited:not(.button),
a.active:not(.button) {
    color: var(--amhs-brown);
}

button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"]::file-selector-button {
    background-color: color-mix(in srgb, var(--amhs-gold), white 10%);
    color: var(--amhs-dark-blue);
    border: 3px solid transparent;
    padding: 0.5em 1em;
    font-size: var(--amhs-h6-size);
    border-radius: var(--amhs-border-radius);
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
    display: inline-block;
}

button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="file"]::file-selector-button:hover {
    border-color: var(--amhs-gold);
    background-color: var(--amhs-light-gold);
    cursor: pointer;
}

button:active,
.button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="file"]::file-selector-button:active {
    background-color: var(--amhs-brown);
}

.button-reverse {
    background-color: var(--amhs-bright-blue);
    color: var(--amhs-white);
}

.button-reverse:hover {
    background-color: var(--amhs-light-blue);
    color: var(--amhs-dark-blue);
}

nav ul {
    display: flex;
    gap: 1.5em;
    align-items: center;
    list-style: none;
    padding: 0;
}

body .org-name {
    margin: 0;
}

header,
footer {
    padding: 2em 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: var(--amhs-dark-blue);
    color: var(--amhs-white);
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

footer .org-logo {
    /* Specific img color using filters. See https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(136deg) brightness(104%) contrast(100%);
    width: 60px;
}

footer .org-name {
    font-size: var(--amhs-h5-size);
    max-width: 200px;
}

body>header a:not(.button),
body>footer a:not(.button),
body>.page-cover>header a:not(.button),
body>header a:visited:not(.active):not(.button),
body>footer a:visited:not(.active):not(.button),
body>.page-cover>header a:visited:not(.active):not(.button),
body>header a:hover:not(.active):not(.button),
body>.page-cover>header a:hover:not(.active):not(.button){
    color: unset;
}

header a.org:hover,
footer a.org:hover {
    text-decoration: none;
}

header nav {
    font-size: var(--amhs-h6-size);
}

footer .copyright {
    font-size: var(--amhs-caption-size);
}

main {
    display: flex;
    flex-direction: column;
}

main p {
    /* margin: var(--amhs-row-padding) 0; */
    max-width: var(--amhs-content-width);
}

main>section:not(.fifty-fifty):not(.manufacturer-logos),
main>.section:not(.fifty-fifty):not(.manufacturer-logos),
main>article:not(.fifty-fifty):not(.manufacturer-logos),
main>div:not(.fifty-fifty):not(.manufacturer-logos) {
    max-width: var(--amhs-max-width);
    margin: var(--amhs-row-gap) auto;
    padding: 0 5%;
}

main > header {
    background-color: var(--amhs-light-gold);
}

main > header h1,
main > header p {
    margin: 0;

}

main > header div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: var(--amhs-max-width);
    margin: auto;
}

main>article>aside {
    display: flex;
    flex-direction: column;
    gap: var(--amhs-row-gap);
}

.subheading {
    font-size: var(--amhs-h5-size);
}

.org {
    display: flex;
    align-items: center;
    gap: 1em;
}


.org-logo {
    max-width: 100px;
    height: auto;
}

.org-name {
    font-size: var(--amhs-h3-size);
    font-family: var(--amhs-serif);
    font-weight: 500;
}

.page-cover {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.hero {
    background-size: cover;
    height: 100vh;
}

.hero>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
}

.hero>section {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: var(--amhs-row-padding);
    padding: var(--amhs-row-padding);
    background-color: color-mix(in srgb, color-mix(in srgb, var(--amhs-dark-blue), white 0%), transparent 30%);
    border-radius: var(--amhs-border-radius);
    backdrop-filter: blur(7px);
}

.hero>section h1,
.hero>section h2 {
    font-size: var(--amhs-h1-size);
    margin: 0;
    color: var(--amhs-white);
}

.hero>section p {
    font-size: var(--amhs-h6-size);
    margin: 0;
    color: var(--amhs-white);
}

.manufacturer-logos {
    max-width: unset;
}

.manufacturer-logos>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--amhs-row-padding) var(--amhs-column-gap);
    max-width: var(--amhs-max-width);
    margin: auto;
    padding: var(--amhs-row-gap) 0;
}

.manufacturer-logos img {
    max-width: 100px;
    height: auto;
}

.featured-story {
    display: flex;
    gap: var(--amhs-column-gap);
}

.featured-story img {
    width: 50%;
    max-height: 35vh;
    border-radius: var(--amhs-border-radius);
    object-fit: cover;
}

.featured-story>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.featured-story>article>* {
    margin-top: 0;
}

.filter-bw-to-blue {
    filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(173deg);
}

.filter-black {
    filter: brightness(0%);

}

#list-container {
    display: flex;
    flex-direction: row;
    gap: var(--amhs-column-gap);
}

#list-filter {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--amhs-row-gap);
}

.object-list {
    list-style: none;
    padding: 0;
    width: fit-content;
}

.object-list .object-list-section {
    margin: var(--amhs-row-gap) 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--amhs-row-gap);
}

.object-list .object-list-item {
    border: 2px solid var(--amhs-dark-blue);
    border-radius: var(--amhs-border-radius);
}

.object-list .object-list-item .object {
    display: flex;
    flex-direction: row;
    gap: var(--amhs-row-padding);
    align-items: center;
    padding: var(--amhs-row-padding);
}

.object-list .object-list-item figure {
    height: 100%;
    width: 30%;
    margin: auto 0;
}

.object-list .object-list-item img {
    width: 100%;
    max-height: 420px   ;
    object-fit: cover;
    border-radius: var(--amhs-border-radius);
}

.object-list .object-list-item .object-list-item-details {
    width: 70%;
}

#list-filter ul {
    list-style: none;
    padding: 0;
}

#list-filter ul li {
    margin: 0;
}

@media only screen and (min-width:1366px) {
    main>section:not(:last-of-type):not(.fifty-fifty),
    main>.section:not(:last-of-type):not(.fifty-fifty),
    main>article:not(:last-of-type):not(.fifty-fifty) {
        margin-bottom: 0;
    }
}

@media only screen and (max-width:1266px) {
    header .org-name {
        max-width: 240px;
        font-size: var(--amhs-h4-size);
    }

    .hero>section {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width:1024px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 980px) {
    #list-container {
        flex-direction: column-reverse;
    }
    #list-filter {
        width: 100%;
        flex-direction: row;
    }
}

@media only screen and (max-width:768px) {
    header .org-name {
        display: none;
    }

    .hero>section {
        width: 70%;
    }

    .object-list .object-list-item .object {
        flex-direction: column;
    }

    .object-list .object-list-item figure,
    .object-list .object-list-item .object-list-item-details {
        width: 100%;
    }

    .object-list .object-list-item figure {
        max-width: 240px;
    }
}

@media only screen and (max-height:500px) {
    .hero>section {
        top: 60%;
    }
}